@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');

:root {
    --main-bg-color: brown;
    --main-theme-color: rgb(49, 194, 189);
    /* --main-theme-color: rgb(40, 130, 221); */
    /* --selected-color: rgxb(93, 171, 208);  */
    --selected-color: rgb(233, 225, 116); 
}

body {
    font-family: 'Jua', sans-serif;
    margin: 0;
}

.container {
    padding: 5% 10%;
    position: relative;
}

.container .title {
    text-align: center;
}

.container .title div:first-child{
    color: var(--main-theme-color);
    font-size: 38px;
}

.container .title div:nth-child(2){
    font-size: 22px;
}

.container .main__img {
    max-width: 1000px;
    margin: auto;
}

.container .main__img img {
    margin-top: 50px;
    width: 100%;
}


/* 문제 페이지 */
.container .bar {
    border-radius: 8px;
    height: 24px;
    background-color: rgb(237, 233, 244);
    box-shadow: 1px 1px 1px rgb(100, 100, 100);
}

.container .bar .bar__statement {
    background-color: var(--main-theme-color);
    transition: .4s;
    border-radius: 8px;
    height: 100%;
    width: 0;
}

.container .question {
    margin-bottom: 10%;
}

.container .question>div:first-child {
    margin-top: 10%;
    font-size: 50px;
    color: var(--main-theme-color);
    height: 100px;
    width: 100%;
}

.container .question>div:nth-child(2) {
    font-size: 25px;
    color: #333;
}

.container .question>div {
    text-align: center;
}

.container .options {
    width: 90%;
    height: 800px;
    margin: auto;
}

.container .option {
    width: 100%;
    height: 50px;
    background-color: var(--main-theme-color);
    margin-bottom: 5%;
    font-size: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    box-shadow: 3px 4px 2px rgb(100, 100, 100);
    transition: .3s;
    cursor: pointer;
}

.container .option:hover {
    background-color: var(--selected-color);
}

.container:nth-child(2) {
    display: none;
}

.inner:not(:first-child) {
    display: none;
}

.container .question__area .inner .options .option span::after {
    content: "\A";
    white-space: pre;
    display:block;
}


/* RESULT PAGE */
/* 반응형에서만 width 값 변경 */
.result {
    display: none;
    margin-bottom: 100px;
    background: linear-gradient(180deg, var(--main-theme-color), white);
    height: 100%;
    width: 40%;
    min-height: 100vh;
    padding-bottom: 70px;
    margin: auto;
}

@media screen and (max-width: 768px) {
    .result {
        width: 100%;
    }

    .container .title div:first-child {
        /* text-align: center; */
        /* font-size: 28px; */
        margin-top: 30px;
        font-size: 1.9em;
    }
    .container .title div:nth-child(2){
        /* color: blue; */
        font-size: 18px;
    }

    .container .btn .btn--start {
        margin-top: 20px;
        height: 35px;
        font-size: 2.2em;
        width: 70%;
    }
    
    .container .option {
        font-size: 1em;
    }
    
    .result .btn {
        /* width: 70%; */
        position: relative;
    }

    .btn .btn--reset{
        /* background-color: red; */
    }
    
    .btn--reset {
        /* width: 100%;
        background-color: var(--main-theme-color);
        font-family: 'Jua', sans-serif;
        height: 50px;
        border: none;
        border-radius: 10px;
        box-shadow: 3px 4px 2px rgb(100, 100, 100);
        font-size: 22px;
        cursor: pointer;
        background-color: red; */
    }

    .container .question__area .inner .options .option {
        flex-direction: column;
    }

}




.result .char_name {
    margin-top: 40px;
    font-size: 45px;
    color: var(--main-theme-color);
}

.result .result_description {
    margin: 20px 13px;
    font-size: 1.35rem;
    font-weight: 100;
}

.result .img_box {
    margin: auto;
    text-align: center;
}

.result .img_box img {
    margin-top: 80px;
    max-height: 500px;
    width: 80%;
}

.result .btn:not(:last-child) {
    margin-top: 100px;
}

.result .btn:last-child {
    margin-top: 20px;
}

.result .result__box {
    background: #fff;
    width: 80%;
    margin: auto;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 5px 10px 15px rgb(143, 143, 143);
}

.result .result__box .seperator {
    width: 10%;
    height: 8px;
    background-color: rgb(127, 208, 203);
    opacity: 0.5;
    margin: auto;
}


.result .result__box .char_name {
    padding-top: 30px;
}

.btn .btn--share {
    background-color: #fff;
}

/* LANGUAGE */
.language {
    display: flex;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.language>div:first-child {
    margin-right: 30px;
}

.language>div:hover {
    text-decoration: underline;
    cursor: pointer;
}

/* BUTTON */
.btn {
    text-align: center;
    margin: auto;
    font-size: 0.5em;
}
    
.btn:hover input[type=button] {
    background-color:var(--selected-color); 
}
    
.btn input[type=button] {
    background-color: var(--main-theme-color);
    font-family: 'Jua', sans-serif;
    width: 60%;
    height: 44px;
    border: none;
    border-radius: 10px;
    box-shadow: 3px 4px 2px rgb(100, 100, 100);
    font-size: 22px;
    cursor: pointer;
}
